//Pseudocode for checking if scss converts to css correctly
$blue: #00b9f2;
$black: black;
$white: white;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

html {
  font-family: "Slabo 27px", serif;
}

body {
  padding: 0 3%;
}

h1 {
  font-size: 4em;
  font-weight: unset;
  margin: 0;

  a {
    text-decoration: none;
    color: $blue;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  &__navigation ul {
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0;

    li a {
      text-decoration: none;
      margin: 0 0.3em 0 0.3em;
      color: $black;
      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}
.keyboard {
  background-image: url("../images/illuminated-keyboard-1242287.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__inspirationalQuote {
    color: $blue;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.7em 0.5em 0 0;
    padding-left: 30%;
    span {
      background-color: $white;
      margin: 0.05em;
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 11.2em;
    padding-left: 30%;
    button {
      color: $white;
      background-color: green;
      font-size: 2em;
      margin: 0.4em 0 1.4em 0;
      border-radius: 7px;
      text-decoration: none;
      border: none;
      padding: 0.5em;
    }
  }
}

.about {
  background-image: url("../images/about_hero.jpg");
}

.pepe {
  width: 50%;
}

.myP {
  font-size: 1.3em;
}

// main

h3 {
  font-size: 2.2em;
  color: $blue;
  font-weight: unset;
}
.Leistungen {
  display: flex;
  div {
    margin: 0 1%;
    border-radius: 5px;
  }
  p {
    color: $blue;
    font-size: 1.5em;
    text-align: center;
  }
  &__design {
    background-color: #fffad8;
  }
  &__consulting {
    background-color: #d8edd6;
  }
  &__strategie {
    background-color: #c6effc;
  }
  img {
    width: 50%;
    margin: 0 auto 24px auto;
    display: block;
  }
}

#News {
  font-size: 1.4em;
  padding: 0.3em 0;
  line-height: 0.5em;
  background-color: #faddd3;
  border-radius: 7px;

  a {
    text-decoration: none;
    color: $blue;
  }
  ul {
    list-style: none;
    padding: 0 0.4em;
  }
}

$tinaBackground: #fffad8;
$vorstandBackground: #d8edd6;

#Referenzen {
  display: grid;
  margin-bottom: 4em;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "tinapic TomHerzog TomHerzog tomHerzogPic semicolon vorstandPic vorstandPic vorstandPic" "tinaUbuntu tinaUbuntu tomZitat tomZitat semicolon vorstandPic vorstandPic vorstandPic" "TinaZitat TinaZitat TinaZitat blau textVorstand textVorstand textVorstand textVorstand";

  p {
    margin: 0;
    padding: 0.4em;
    font-size: 1.4em;
  }

  img {
    width: 94%;
    object-fit: contain;
    padding-top: 0.5em;
    height: 90%;
  }
}

.tinapic {
  grid-area: tinapic;
  background-color: $tinaBackground;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  img {
    object-fit: cover !important;
  }
}

.tinaUbuntu {
  grid-area: tinaUbuntu;
  background-color: $tinaBackground;
}

.TinaZitat {
  grid-area: TinaZitat;
  background-color: $tinaBackground;
  margin: 0;
  p {
    padding-top: 20% !important;
  }
}

.TomHerzog {
  grid-area: TomHerzog;
  background-color: #c6effc;
  text-align: end;
}

.tomHerzogPic {
  grid-area: tomHerzogPic;
  background-color: #c6effc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tomZitat {
  grid-area: tomZitat;
  background-color: #c6effc;
  margin: 0;
}

.blau {
  grid-area: blau;
  background-color: #c6effc;
}

.semicolon {
  grid-area: semicolon;
  background-color: #00b9f2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  img {
    height: auto !important;
    width: 90% !important;
  }
}

.vorstandPic {
  grid-area: vorstandPic;
  background-color: $vorstandBackground;
  text-align: center;

  img {
    object-fit: cover !important;
    height: 100% !important;
  }
}

.textVorstand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". namenVorstand namenVorstand" "zitatVorstand zitatVorstand .";
  grid-area: textVorstand;
  background-color: #d8edd6;
}

.zitatVorstand {
  grid-area: zitatVorstand;
  background-color: $vorstandBackground;
  margin: 0;
}

.namenVorstand {
  grid-area: namenVorstand;
  background-color: $vorstandBackground;
  text-align: end;
}

footer {
  padding: 0 0.4em 4em 0.4em;
  background-color: $blue;
  color: white;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: white;
  }

  .copyright {
    &__top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    #demoWordpress {
      width: 50%;
    }
  }
  li {
    font-size: 0.8em;
  }
}

.hideme {
  display: none !important;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  #Referenzen {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 825px) {
  #normal_nav {
    display: none;
  }
  .title__navigation ul {
    display: block;
    font-size: 2em;
  }

  .burgermenu {
    // display: flex;
    z-index: 1;
    position: absolute;
    display: block;

    padding: 1em;
    right: 0.8em;
    background-color: white;
    line-height: 2em;
  }
  .hamburger {
    display: inline;
  }

  .keyboard {
    &__inspirationalQuote {
      font-size: 255%;
    }

    &__button button {
      font-size: 1.4em;
      margin-right: -3.5em;
    }
  }
  #News {
    ul {
      line-height: 1.2em;
    }
  }
}

@media screen and (max-width: 550px) {
  .Leistungen {
    flex-wrap: wrap;
    width: 60%;
    margin: auto;

    div {
      margin-bottom: 10px;
    }
  }
}

@media screen and(max-width:470px) {
  .keyboard {
    &__inspirationalQuote {
      font-size: 1.5em;
    }
  }
}

@media screen and(max-width:400px) {
  h1 {
    font-size: 2em;
  }
  .keyboard {
    &__button {
      button {
        font-size: 1em;
      }
    }
  }
}
